<h1><%= @product.title %></h1>
<p>Description: <%= @product.description %></p>
<!-- <p>Price: $<%= @product.price %></p> -->
<p>Price: <%= number_to_currency(@product.price) %>
<% if @product.user.present? %>
  <p>Seller: <%= @product.user.full_name %></p>
<% end %>
<p>Hit Count: <%= @product.hit_count %></p>

<p>Tags:
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tag %>
  <% end %>
</p>
<br>
<br>

<% if user_signed_in? && can?(:favourite, @product) %>
  <% if @product.favourited_by?(current_user) %>
    <%= link_to 'Un Favourite',
        favourite_path(@product.favourite_for(current_user)),
        method: :delete,
        class: 'btn btn-default' %>
  <% else %>
    <%= link_to 'Favourite', product_favourites_path(@product),
                             method: :post,
                             class: 'btn btn-default' %>
  <% end %>
<% end %>


<% if @product.category_id %>
  <p>Category: <%= @product.category.name %></p>
<% end %>

<% if can?(:manage, @product) %>
<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Delete', product_path(@product),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }%>
<% end %>

<hr>
<h3>Reviews</h3>
<%= @review.errors.full_messages.join(', ') %>
<%= form_for [@product, @review] do |f| %>
  <div>
    <%= f.label :rating, 'Rating' %>
    <%= f.number_field :rating %>
  </div>
  <div>
    <%= f.label :body, 'Review' %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Create Review' %>
<% end %>
<hr>

<% @product.reviews.each do |review| %>
  <i><%= review.user.full_name %></i>
  |
  <span>Rating: <%= review.rating %></span>
  |
  <%# byebug %>
  <% if user_signed_in? && can?(:like, @review) %>
    <% if review.liked_by?(current_user) %>
      <%= link_to 'Un-Like',
          like_path(review.like_for(current_user)),
          method: :delete %>
    <% else %>
      <%= link_to 'Like',
          review_likes_path(review),
          method: :post %>
    <% end %>
  <% end %>


  <br>
  <p><%= review.body %></p>

  <% if can?(:manage, review) %>
    <%= link_to 'Delete', review_path(review),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
  <% end %>
  <br>
<% end %>
