<h1><%= @product.title %></h1>
<p>Description: <%= @product.description %></p>
<!-- <p>Price: $<%= @product.price %></p> -->
<p>Price: <%= number_to_currency(@product.price) %>
<% if @product.user.present? %>
  <p>Seller: <%= @product.user.full_name %></p>
<% end %>
<p>Hit Count: <%= @product.hit_count %></p>

<% if !@tags.nil? %>
  <p>Tags:
    <% @tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
  </p>
<% end %>
<br>
<br>

<% if user_signed_in? && can?(:favourite, @product) %>
  <% if @product.favourited_by?(current_user) %>
    <%= link_to 'Un Favourite',
        favourite_path(@product.favourite_for(current_user)),
        method: :delete,
        class: 'btn btn-default' %>
  <% else %>
    <%= link_to 'Favourite', product_favourites_path(@product),
                             method: :post,
                             class: 'btn btn-default' %>
  <% end %>
<% end %>


<% if @product.category_id %>
  <p>Category: <%= @product.category.name %></p>
<% end %>

<% if can?(:manage, @product) %>
<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Delete', product_path(@product),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }%>
<% end %>

<hr>
<h3>Reviews</h3>
<%= @review.errors.full_messages.join(', ') %>
<%= form_for [@product, @review] do |f| %>
  <div>
    <%= f.label :rating, 'Rating' %>
    <%= f.number_field :rating %>
  </div>
  <div>
    <%= f.label :body, 'Review' %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Create Review' %>
<% end %>
<hr>

<%# @product.reviews.each do |review| %>
<% @product.sort_reviews_by_votes.each do |review| %>

  <% if !review.user.nil? %>
  <i><%= review.user.full_name %></i>
  |
  <% end %>
  <span>Rating: <%= review.rating %></span>
  |
  <% if user_signed_in? && can?(:like, @review) %>
    <% if review.liked_by?(current_user) %>
      <%= link_to 'Un-Like',
          like_path(review.like_for(current_user)),
          method: :delete %>
    <% else %>
      <%= link_to 'Like',
          review_likes_path(review),
          method: :post %>
    <% end %>
  <% end %>


  <br>
  <p><%= review.body %></p>

  <% if can?(:manage, review) %>
    <%= link_to 'Delete', review_path(review),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
  <% end %>

  <!-- 1. User hasn't voted yet : Create -->
  <% if user_signed_in? && can?(:vote, review) %>
    <% vote = review.vote_for(current_user) %>
    <% if vote.nil? %>
      <%= link_to 'Up', review_votes_path(review, { is_up: true }),
                        method: :post,
                        class: 'btn btn-default' %>

      <%= link_to 'Down', review_votes_path(review, { is_up: false }),
                          method: :post,
                          class: 'btn btn-default' %>

  <!-- 2. User's voted UP : Update & Destroy -->
    <% elsif vote.is_up? %>
      <%= link_to 'Undo Up', vote_path(vote),
                             method: :delete,
                             class: 'btn btn-default' %>

      <%= link_to 'Down', vote_path(vote, { is_up: false }),
                          method: :patch,
                          class: 'btn btn-default' %>
  <!-- 3. User's voted Down : Update & Destroy -->
    <% else %>
      <%= link_to 'Up', vote_path(vote, { is_up: true }),
                        method: :patch,
                        class: 'btn btn-default' %>

      <%= link_to 'Undo Down', vote_path(vote),
                               method: :delete,
                               class: 'btn btn-default' %>
    <% end %>
    <i>Votes: <%= review.votes_total %></i>
    <br>
    <br>
  <% end %>
<% end %>
